{% extends "base.html" %}
{% block content %}

   
    <container>
        <br>
        <h5 class="text-center">Create Event</h5>
        <br>
        <!-- Create event form-->
        
        <form class="row justify-content-center" method="POST" action="{{ url_for('create_event') }}" >
            <div class="card col_xs-12 col-lg-4 bg-success text-white" >                
                <br>
                <div class="mb-3"><h6>Create your event by filling in the form</h6></div>

                    <!-- Title field -->
                    <div class="mb-3">
                        <i class="fas fa-user-cog"></i>
                        <label for="event_title" class="form-label">Event Title</label>
                        <input type="event_title" name="event_title" class="form-control" id="event_title" 
                        placeholder="Title of your event" minlength="5" maxlength="80"required>
                    </div>

                    <!-- Event description field -->

                    <div class="mb-3">
                        <i class="fas fa-user-lock"></i>
                        <label for="event_description" class="form-label">Event description</label>
                        <textarea class="form-control" id="event_description" rows="3"
                        name="event_description" placeholder="Describe your event here" 
                        minlength="5" maxlength="200" required>
                        </textarea>
                    </div>

                    <!-- Location description field -->

                    <div class="mb-3">
                        <i class="fas fa-user-lock"></i>
                        <label for="event_location" class="form-label">Event Location</label>
                        <textarea class="form-control" id="event_location" placeholder="Describe your location here" 
                            rows="3" name="event_location"  
                            minlength="5" maxlength="150" required>                        
                        </textarea>
                    </div>

                    <!-- Event type drop down menu -->

                    <div class="mb-3">
                        <select class="form-select form-select-sm mb3" name="event_type" id="event_type" value="">
                            <option  disabled selected>Select Event Type</option>
                            {% for category in categories %}
                                <option value="{{ category.event_type }}">"{{ category.event_type }}"</option> 
                            {% endfor %}                    
                        </select>
                    </div>

                    <!-- Date field -->

                    <div class="mb-3">
                        <i class="fas fa-user-lock"></i>
                        <label>Enter your event date: </label>
                        <input type="date" name="event_date" class="form-control" required>                    
                    </div>

                    <!-- Time field -->

                    <div class="mb-3">
                        <i class="fas fa-user-lock"></i>
                        <label for="start_time">Choose an appointment time: </label>
                        <input id="start_time" type="time" name="start_time" step="300" value="13:30"  class="form-control" required>
                    </div>             
                    
                    <div>
                    <!-- Summit button-->                      
                    <button type="submit" class="btn btn-primary col-12 mb-3">
                    Create Event <i class="fas fa-sign-in-alt"></i></button>
                    </div>
            </div>
        </form>        
    </container>

{% endblock %}


