{% extends "base.html" %}
{% block content %}

   
    <container>
        <br>
        <h5 class="text-center">Log In</h5>
        <br>
        <!-- Log in form-->
        
        <form class="row justify-content-center" method="POST" action="{{ url_for('login') }}" >
            <div class="card col_xs-12 col-lg-4 bg-success text-white" >                
                <br>
                <div class="mb-3"><h6>Please log in with an username and password</h6></div>
                    <!-- Username field -->
                    <div class="mb-3">
                        <i class="fas fa-user-cog"></i>
                        <label for="username" class="form-label">Username</label>
                        <input type="text" name="username" class="form-control" id="username" 
                        minlength="5" maxlength="15" pattern="[a-zA-Z0-9]{5,15}$" placeholder="Username" required>
                    </div>
                    <!-- Password field -->
                    <div class="mb-3">
                        <i class="fas fa-user-lock"></i>
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" id="password" name="password" 
                        minlength="5" maxlength="15" pattern="[a-zA-Z0-9]{5,15}$" placeholder="Password" required>
                    </div>
                <div>
                    <!-- Log In button-->                      
                    <button type="submit" class="btn btn-primary col-12 mb-3">
                    Log In <i class="fas fa-sign-in-alt"></i></button>
                </div>
            </div>
        </form>
        
        
        <div class="row">
            <p class="text-center">
                New here?
                <a href="{{ url_for('register') }}" >Register Account</a>
            </p>
        </div>
    </container>

{% endblock %}