{% extends "base.html" %}
{% block content %}

<div class="container">
    <br>
    <h5 class="text-center">Profile - Your Added Events</h5>
    <br>    

    <div class="row justify-content-center">
        <div class="card col-xs-12 col-lg-4 bg-success text-white">                
            <br>
            <p>{{ username }}'s Profile</p><br>                 
        </div>
    </div>
</div>

<div class="container">
    <div class="row justify-content-center">
        {% for event in events %}
            <div class="card col-xs-12 col-lg-4 bg-success text-white mb-3 mx-2 my-2">                
                <div class="card-body">  
                    <p><i class="fas fa-user-cog"></i> {{ event.event_title }}</p>                  
                    <p><i class="fas fa-info-circle"></i> {{ event.event_description }}</p>  
                    <p><i class="fas fa-map-marker-alt"></i> {{ event.event_location }}</p>
                    <p><i class="fas fa-calendar-alt"></i> {{ event.event_date }}</p>                 
                    <p><i class="fas fa-clock"></i> {{ event.start_time }}</p>
                    
                    <!-- create buttons-->

                    <a href="{{ url_for('edit_event', event_Id=event._Id) }}"                                    
                        class="btn btn-primary btn-lg mb-3">
                        Edit<i class="fas fa-sign-in-alt"></i></a>
                </div>  
            </div>
        {% endfor %}  
    </div>
</div>  

{% endblock %}
